<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>MAIP Kabupaten Sleman</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <img id="userPhoto" src="https://i.imgur.com/t8ZX9um.jpg" alt="User Photo">
    
    <a href="https://bkpp.slemankab.go.id/" id="userName">BKPP Kab. Sleman</a>
    <div id="links">
        <a class="link" href="https://forms.gle/4sAYX2MZicJeDULX6" target="_blank">Perawat Terampil</a>
        <a class="link" href="https://forms.gle/oagtQyDYZVaPyGHe7" target="_blank">Perawat Ahli</a>
        <a class="link" href="https://forms.gle/aGujsgf37usnfmUKA" target="_blank">Bidan Terampil</a>
        <a class="link" href="https://forms.gle/dExVH41MM3vbxUoE8" target="_blank">Bidan Ahli</a>
        <a class="link" href="https://forms.gle/qWcjpgfA9CpQxyac7" target="_blank">Dokter Umum</a>
        <a class="link" href="https://forms.gle/FBYZN87w4XS4gUbs8" target="_blank">Guru Kelas</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
